body {
    background: url(images/bg3.jpg);
}
.credits,
.footer {
    border: none;
}
.footer a {
    color: #666;
}
#wrap-slide {
    margin: 0 auto;
    padding: 20px 30px;
    width: 600px;
    background: rgba(255, 255, 255, 0.7);
    filter: progid: DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#99fffffff', EndColorStr='#99ffffff');
    border: 1px solid #ccc;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
#slideshow {
    position: relative;
    width: 600px;
    height: 245px;
}
#slideshow li img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
#slideshow li p {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 50px;
    color: #efefef;
    text-shadow: 0px 0px 2px #000;
    background: rgba(0, 0, 0, 0.4);
    filter: progid: DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#70000000', EndColorStr='#70000000');
}
#slideshow li p span {
    padding: 5px 10px;
    display: block;
}
#slideshow li p a {
    color: #efefef;
    text-decoration: none;
}
#slideshow li p a:hover {
    color: #ffff00;
}
#slideshow .current img,
#slideshow .current p {
    z-index: 50;
}
#next,
#prev {
    position: absolute;
    top: 120px;
    width: 18px;
    height: 31px;
    z-index: 1000;
    text-indent: -99999px;
    cursor: pointer;
}
#next {
    right: -25px;
    background: url(images/next-arrow.png) no-repeat 0 0;
}
#prev {
    left: -25px;
    background: url(images/prev-arrow.png) no-repeat 0 0;
}
#controlNav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 5px;
}
#controlNav a {
    display: block;
    float: left;
    width: 22px;
    height: 22px;
    background: url(images/bullets.png) no-repeat;
    cursor: pointer;
}
.active {
    background-position: 0 -22px !important;
}